body {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 15px;
}

.col-12 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.file-upload {
  text-align: center;
}

.form-group {
  margin-bottom: 0;
}

.maps-frame {
  border: 2px solid black;
  border-radius: 25px;
  width: 60vw;
  height: 70vh;
}

table {
  margin-top: 3px;
}

.submit-form {
  padding: 10px;
}
