<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Finder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>

<body onload="initialize_map();">
    <div class="container h-100">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="display-3">
                    Route Finder
                </div>
            </div>
            <div class="col-12 d-flex">
                <div id="map" class="maps-frame"></div>
            </div>
            <div class="col-12 d-flex">
                <form method="POST" action="/" class="submit-form" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="file-graf"/>
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="posisi-awal" placeholder="Posisi Awal">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="posisi-tujuan" placeholder="Posisi Tujuan">
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
                 <!-- <ul>
                 {% for item in data %}
                     <li>{{item.name}}</li>
                     <li>{{item.place}}</li>
                     <li>{{item.mob}}</li>
                 {% endfor %}
                 </ul> -->
        </div>
    </div>
</body>
</html>
